

h1 {font-size: 50px; color:white;}
  h2{font-size: 36px; color:white; }
    h3{font-size: 20px; color:white;  margin-bottom: 50px;}
     h4{font-size: 18px; text-align: center;}

    .headerspace {
      padding: 100px 0 100px 0;
      text-align: center;
    }

.button{
       text-align: center;
}

.section2 {
       font-size: 18px;
}

.skull {
  display: block;
      margin:auto;
width: 50px;
height: 50px;
animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
/* transform: rotate(3deg); */
 /* transform: rotate(0.3rad);/ */
 /* transform: rotate(3grad); */
 /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
}

footer {
background-color: olive;}
section { background-image: url("https://sm.ign.com/ign_pl/gallery/d/dawn-of-wa/dawn-of-war-3-ork-faction_ppf3.jpg");  background-attachment: "fixed";
