

h1 {font-size: 50px; color:white;}
  h2{font-size: 36px; color:white; }
    h3{font-size: 20px; color:white;  margin-bottom: 50px;}
     h4{font-size: 18px; text-align: center;}

    .headerspace {
      padding: 100px 0 100px 0;
      text-align: center;
    }

.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button{
       text-align: center;
}

.section2 {
       font-size: 18px;
}

.skull {
  display: block;
      margin:auto;
width: 50px;
height: 50px;
animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
}

.container{
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;

}

footer {
background-color: olive;}
section { background-image: url("https://www.strategygamer.com/assets/BlogPosts/ork-faction.jpg");  background-attachment: "fixed";
