body {
  background: grey;
}
.headerbackground {
  background-image: url(sectionbackground.jpeg);
  background-position: center;

}

.maintitle {
color: white;
  text-shadow: black 23px;

}
.headerspace {
  padding: 100px 0 100px 0;
}
.secondtitle {}

.center {
  text-align: center;
}
