
  h2{font-size: 20px;}
  .title{background: purple;
  }
  .title1{color: white;
  }
  .asd{text-align: center;
  }
  #kek {transform: rotate(90deg);}
  /*поле ввода*/
body {background-image:url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/04/68/175624ba0294ed1.jpg");background-size:cover}
input {margin: 10px
  }
  /* flex grid*/
.container{display: flex;
flex-flow: row wrap;
}
.box{flex: 1 49%;
  color: white;
  border: 1px solid white;
  }
.main{background-color: yellow;
  flex 3;}
