
body {background-image: url("https://assets3.thrillist.com/v1/image/2757164/size/gn-gift_guide_variable_c.jpg");
background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;
}
.h1 {text-align: center;}

.button1 {
  background-color:#F63854;
	padding:6px 15px 6px 15px;
	color:#ffffff;
	font-size:13px;
	font-weight:700;
	letter-spacing:1px;
	border:0;
	border-radius:0;
	padding:10px 24px 10px 24px ;
 }


.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
